<h1>Hello, <%= @user.name %>!</h1>

<!-- CREATE A NEW ALBUM -->
<form action='/albums' method='post'>
	<input type='text' name='album[name]' placeholder='Album Name'>
	<input id='create-album' type='submit' value='Create Album'>
</form>

<!-- NEED VALIDATIONS TO ENSURE EMPTY ALBUMS/PHOTOS AREN'T UPLOADED-->
<h3>All Albums</h3>
<% @user.albums.each do |album| %>
	<li><a href="/albums/<%= album.id %>"><%= album.name %></a></li>
<% end %>


